# IDEs
.idea/
.vscode/
*sublime-workspace
*sublime-project
*xcdatamodeld*
*xcodeproject*

# Laravel Local Development
Homestead.yaml
Homestead.json

# Environments
.env
.venv
env/
venv*/
ENV/
env.bak/
venv.bak/

# Framework and Vendor
vendor/
node_modules/
bower_components/
composer.phar
.sass-cache

# Operating System
.DS_Store
*/.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Logging
npm-debug.log.*
npm-debug.log
yarn-error.log

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc

# Packages 
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip